<article>
  <header class="page-header">
    <h1><%= @movie.title %></h1>
  </header>
  <dl>
    <dt>Director</dt>
    <dd><%= @movie.director %></dd>
    <dt>Genre</dt>
    <dd><%= @movie.genre %></dd>
    <dt>Year</dt>
    <dd><%= @movie.year %></dd>
  </dl>
</article>
