<article>
  <header class="page-header">
    <h1>Contact us</h1>
  </header>
  <form method="post" action="/contact">
    <fieldset class="col-sm-6">
      <legend>Send us a message</legend>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Send message" class="btn btn-info btn-sm">
      </div>
    </fieldset>
  </form>
</article>
